<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Insert title here</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="../css/style_admin.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="../js/angularjs/order.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div th:replace="~{Admin/Slide :: slide}"></div>
    <div class="container-fluid px-0">
        <div class="row" id="content">
            <div th:replace="~{Admin/nav :: nav}"></div>
            <ul class="nav nav-tabs my-3 ms-4 col-6">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#order">Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#approve">Approve</a>
                </li>
                <li class="nav-item" th:if="${#request.isUserInRole('DIR')}">
                    <a class="nav-link" data-bs-toggle="tab" href="#decline">Decline</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane container active" id="order">
                    <div class="container-fluid">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">List
                                    Orer</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th><a ng-click="sortNumber(listOrder,'orderid')">ID</a>
                                                </th>
                                                <th><a ng-click="sort(listOrder,'name')">name</a>
                                                </th>
                                                <th><a ng-click="sort(listOrder,'address')">address</a>
                                                </th>
                                                <th><a ng-click="sort(listOrder,'email')">email</a>
                                                </th>
                                                <th><a ng-click="sort(listOrder,'phone')">phone</a>
                                                </th>
                                                <th><a ng-click="sortNumber(listOrder,'total')">total</a>
                                                </th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="item in pager.items(listOrder)">
                                                <td>{{item.orderid}}</td>
                                                <td>{{item.name}}</td>
                                                <td>{{item.address}}</td>
                                                <td>{{item.email}}</td>
                                                <td>{{item.phone}}</td>
                                                <td>{{item.total}}</td>
                                                <td class="text-center">
                                                    <button ng-click="editOrder(item.orderid)" data-bs-toggle="modal" data-bs-target="#bill" class='btn btn-outline-dark btn-xs'><i class="bi bi-pencil-fill"></i>Edit</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul class="pagination d-flex justify-content-end">
                                        <li class="page-item"><a id="prev" class="page-link" ng-click="pager.prev()">Previous</a></li>
                                        <li ng-repeat="i in pager.getNumbers(pager.count(listOrder))" class="page-item">
                                            <a class="page-link" ng-click="pager.page = i-1" href="#">{{i}}</a>
                                        </li>
                                        <li class="page-item"><a id="next" class="page-link" ng-click="pager.next(listOrder)">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane container" id="approve">
                    <div class="container-fluid">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">List
                                    Orer</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th><a ng-click="sortNumber(listOrderApprove,'orderid')">ID</a>
                                                </th>
                                                <th><a ng-click="sort(listOrderApprove,'name')">name</a>
                                                </th>
                                                <th><a ng-click="sort(listOrderApprove,'address')">address</a>
                                                </th>
                                                <th><a ng-click="sort(listOrderApprove,'email')">email</a>
                                                </th>
                                                <th><a ng-click="sort(listOrderApprove,'phone')">phone</a>
                                                </th>
                                                <th><a ng-click="sortNumber(listOrderApprove,'total')">total</a>
                                                </th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="item in pager.items(listOrderApprove)">
                                                <td>{{item.orderid}}</td>
                                                <td>{{item.name}}</td>
                                                <td>{{item.address}}</td>
                                                <td>{{item.email}}</td>
                                                <td>{{item.phone}}</td>
                                                <td>{{item.total}}</td>
                                                <td class="">
                                                    <button ng-click="editOrder(item.orderid)" data-bs-toggle="modal" data-bs-target="#bill" class='btn btn-outline-dark btn-xs'><i class="bi bi-pencil-fill"></i></button>
                                                    
                                                </td>
                                                <td>
                                                    <button ng-click="confirmOrder(item.orderid)" class="btn btn-outline-success"><i class="bi bi-check-lg"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul class="pagination d-flex justify-content-end">
                                        <li class="page-item"><a id="prev" class="page-link" ng-click="pager.prev()">Previous</a></li>
                                        <li ng-repeat="i in pager.getNumbers(pager.count(listOrderApprove))" class="page-item">
                                            <a class="page-link" ng-click="pager.page = i-1" href="#">{{i}}</a>
                                        </li>
                                        <li class="page-item"><a id="next" class="page-link" ng-click="pager.next(listOrderApprove)">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane container fade" id="decline">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th><a ng-click="sortNumber(listOrderDecline,'orderid')">ID</a>
                                        </th>
                                        <th><a ng-click="sort(listOrderDecline,'name')">name</a>
                                        </th>
                                        <th><a ng-click="sort(listOrderDecline,'address')">address</a>
                                        </th>
                                        <th><a ng-click="sort(listOrderDecline,'email')">email</a>
                                        </th>
                                        <th><a ng-click="sort(listOrderDecline,'phone')">phone</a>
                                        </th>
                                        <th><a ng-click="sortNumber(listOrderDecline,'total')">total</a>
                                        </th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="item in pager.items(listOrderDecline)">
                                        <td>{{item.orderid}}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.address}}</td>
                                        <td>{{item.email}}</td>
                                        <td>{{item.phone}}</td>
                                        <td>{{item.total}}</td>
                                        <td class="">
                                            <button ng-click="editOrder(item.orderid)" data-bs-toggle="modal" data-bs-target="#bill" class='btn btn-outline-dark btn-xs'><i class="bi bi-pencil-fill"></i></button>   
                                        </td>
                                        <td>
                                            <button ng-click="deleteOrder(item.orderid)" class="btn btn-outline-danger"><i class="bi bi-x-lg"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul class="pagination d-flex justify-content-end">
                                <li class="page-item"><a id="prev" class="page-link" ng-click="pager.prev()">Previous</a></li>
                                <li ng-repeat="i in pager.getNumbers(pager.count(listOrderDecline))" class="page-item">
                                    <a class="page-link" ng-click="pager.page = i-1" href="#">{{i}}</a>
                                </li>
                                <li class="page-item"><a id="next" class="page-link" ng-click="pager.next(listOrderDecline)">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>         
          <!-- The Modal -->
          <div class="modal" id="bill">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div th:replace="~{Admin/Bill :: invoice}">
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <script src="../js/custom.js"></script>
</body>

</html>