<div th:fragment="product" class="card-body">
	<form enctype="multipart/form-data">
		<div ng-if="form.productid !=null" class="row mb-3">
			<label for="inputEmail3" class="col-sm-2 col-form-label">Id:</label>
			<div class="col-sm-10">
				<input ng-model="form.productid" readonly class="form-control" id="inputEmail3" />
			</div>
		</div>
		<div class="row mb-3">
			<label class="col-sm-2 col-form-label" for="name">Name</label>
			<div class="col-sm-10">
				<input ng-model="form.name" type="text" id="name" class="form-control" />
			</div>
		</div>
		<div class="row mb-3">
			<label for="inputEmail3" class="col-sm-2 col-form-label">Category</label>
			<div class="col-sm-10">
				<select ng-model="form.category.cateid" selected class="form-control">
					<option ng-repeat="item in listCate" value="{{item.cateid}}">{{item.name}}</option>
				</select>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-6 form-floating">
				<input ng-model="form.price" type="text" id="name" class="form-control" placeholder="Price" />
				<label class="form-label" for="name">Price</label>
			</div>
			<div class="col-6 form-floating">
				<input ng-model="form.promotionprice" type="text" id="name" class="form-control" placeholder="Sale" />
				<label class="form-label" for="name">Sale</label>
			</div>
		</div>
		<div class="row mb-3">
			<!-- New -->
			<div ng-if="form.productid ==null" class="row">
				<div class="col-sm-6">
					<label for="inputEmail3" class="col-form-label">Thumbnail</label>
					<input name="image" onchange="angular.element(this).scope().imageThumbnail(this.files)" type="file"
						class="form-control" id="inputEmail3" />
				</div>
				<div class="col-sm-6">
					<label for="inputEmail3" class="col-form-label">Images</label>
					<input name="images" onchange="angular.element(this).scope().images(this.files)" type="file"
						multiple class="form-control" id="inputEmail3" />
				</div>
			</div>
			<!-- Update -->
			<div ng-if="form.productid !=null" class="row">
				<div class="row mb-3">
					<label for="inputEmail3" class="col-sm-2 col-form-label">Thumbnail</label>
					<div class="col-sm-10">
						<img src="{{readFile(form.thumbnail)}}" class="img-thumbnail" alt="">
						<div class="">
							<input name="image" onchange="angular.element(this).scope().imageThumbnail(this.files)" type="file"
								class="form-control" id="inputEmail3" />
						</div>
					</div>
					
				</div>
				<div class="row mb-3">
					<label for="inputEmail3" class="col-sm-2 col-form-label">List Image</label>
					<div class="col-sm-10 d-flex">
						<img ng-repeat="image in form.listimage" src="{{readFile(image)}}" ng-dblclick="removeImage(image)" class="img-thumbnail mx-2" alt="">
						
					</div>
					<div class="col-sm-2"></div>
					<div class="col-sm-10">
						<input name="images" onchange="angular.element(this).scope().images(this.files)" type="file"
							multiple class="form-control" id="inputEmail3" />
					</div>
				</div>
			</div>
		</div>
		<div class="row mb-3">
			<label for="inputEmail3" class="col-sm-2 col-form-label">VAT:</label>
			<div class="col-sm-10">
				<input ng-model="form.vat" type="checkbox" name="vat" id="inputEmail3" />
			</div>
		</div>
		<div class="row mb-3">
			<label for="inputEmail3" class="col-sm-2 col-form-label">Warranty:</label>
			<div class="col-sm-10">
				<input class="form-control my-2" type="date" ng-model="form.warranty">
			</div>
		</div>
		<div class="row mb-3">
			<label for="inputEmail3" class="col-sm-2 col-form-label">Hot:</label>
			<div class="col-sm-10">
				<input class="form-control my-2" type="date" ng-model="form.hot">
			</div>
		</div>
		<div class="row mb-3">
			<label for="inputEmail3" class="col-sm-2 col-form-label">Description:</label>
			<div class="col-sm-10">
				<textarea class="form-control" id="inputEmail3" ng-model="form.descriptions"></textarea>
			</div>
		</div>
		<div class="row mb-3">
			<label for="inputEmail3" class="col-sm-2 col-form-label">Detail:</label>
			<div class="col-sm-10">
				<textarea class="form-control" ng-model="form.detail" id="inputEmail3"></textarea>
			</div>
		</div>
		<div class="row mb-3">
			<label for="inputEmail3" class="col-sm-2 col-form-label">Meta Keyword:</label>
			<div class="col-sm-10">
				<input ng-model="form.metakeyword" type="text" class="form-control" id="inputEmail3" />
			</div>
		</div>
		<div class="row mb-3">
			<label for="inputEmail3" class="col-sm-2 col-form-label">Meta Desciption:</label>
			<div class="col-sm-10">
				<input ng-model="form.metadescription" type="text" class="form-control" id="inputEmail3" />
			</div>
		</div>
		<button ng-click="createPrd()" class="btn btn-success mt-3"><i class="bi bi-save"></i>
			Save</button>
		<button ng-if = "form.productid!=null" class="btn btn-danger mt-3"><i class="bi bi-trash3"></i> Delete</button>
	</form>
</div>