<div th:fragment="slide" class="sticky-top col-sm-0 col-md-2 float-start" style="height: 100%; min-height: 100vh ; ">
		<div class="navbar navbar-expand-sm">
			<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
				aria-labelledby="offcanvasExampleLabel">
				<div class="offcanvas-body">
					<div class="w-100 ">
						<h5 class="text-center">Aministrator admin</h5>
						<ul class="list-group">
							<li>
								<a class="list-group-item py-3 m-2" th:href="@{|/admin-index|}">
									<i class="mx-2 bi bi-house-heart-fill"></i> Dash board
								</a>
							</li>
							<li>
								<a class="list-group-item py-3 m-2" th:href="@{|/admin-category|}">
									<i class="mx-2 bi bi-tags-fill"></i> Category
								</a>
							</li>
							<li>
								<a href="#acc" data-bs-toggle="collapse" class="slide-toggle list-group-item  py-3 m-2">
									<i class="mx-2 bi bi-person-lines-fill"></i> Accounts
								</a>
								<ul id="acc" class="px-0 collapse slide rounded shadow ">
									<li class="py-3 m-2"><a class="ps-5" th:href="@{|/admin-account|}">Account</a></li>
									<li class="py-3 m-2"><a class="ps-5" th:href="@{|/admin-role|}">Role</a></li>
								</ul>
							</li>
							<li>
								<a class="list-group-item py-3 m-2"  data-bs-toggle="collapse" href="#prd">
									<i class="mx-2 bi bi-box2-heart-fill"></i> Products
								</a>
								<ul id="prd" class="px-0 collapse slide rounded shadow">
									<li class="py-3 m-2"><a class="ps-5" th:href="@{|/admin-product|}">Product</a></li>
									<li class="py-3 m-2"><a class="ps-5" th:href="@{|/admin-product-detail|}">Product details</a></li>
								</ul>
							</li>
							<li>
								<a class="list-group-item py-3 m-2" th:href="@{|/admin-coupon|}">
									<i class="mx-2 bi bi-ticket-perforated-fill"></i> Voucher
								</a>
							</li>
							<li>
								<a class="list-group-item py-3 m-2" th:href="@{|/admin-orders|}">
									<i class="mx-2 bi bi-bag-heart-fill"></i> Order
								</a>
							</li>
							<li>
								<a class="list-group-item py-3 m-2" th:href="@{|/admin-statistic|}">
									<i class="mx-2 bi bi-bar-chart-line-fill"></i> Statistics
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
</div>
