<div th:fragment="slide" class="col-sm-0 col-md-2 float-start" style="height: 100%; min-height: 100vh ; position: sticky;">
		<div class="navbar navbar-expand-sm">
			<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
				aria-labelledby="offcanvasExampleLabel">
				<div class="offcanvas-body">
					<div class="w-100 ">
						<h5 class="text-center">Aministrator admin</h5>
						<ul class="list-group">
							<li>
								<a class="list-group-item py-3 m-2" href="/PS24728_NguyenVanBao_ASM/Video">
									<i class="mx-2 bi bi-file-earmark-play-fill"></i> Dash board
								</a>
							</li>
							<li>
								<a href="#cate" data-bs-toggle="collapse"  class="list-group-item  py-3 m-2">
									<i class="mx-2 bi bi-house-heart-fill"></i> Category
								</a>
								<ul id="cate" class="collapse slide">
									<li class="slide py-3 m-2"><a  href="#">Customers</a></li>
									<li class="slide py-3 m-2"><a  href="#">Employee</a></li>
								</ul>
							</li>
							<li>
								<a href="#acc" data-bs-toggle="collapse" class="slide-toggle list-group-item  py-3 m-2">
									<i class="mx-2 bi bi-house-heart-fill"></i> Accounts
								</a>
								<ul id="acc" class="collapse slide">
									<li class="py-3 m-2"><a  href="#">Account</a></li>
									<li class="py-3 m-2"><a  href="#">Role</a></li>
								</ul>
							</li>
							<li>
								<a class="list-group-item py-3 m-2" href="/PS24728_NguyenVanBao_ASM/Video">
									<i class="mx-2 bi bi-file-earmark-play-fill"></i> Products
								</a>
							</li>
							<li>
								<a class="list-group-item py-3 m-2" href="/PS24728_NguyenVanBao_ASM/User">
									<i class="mx-2 bi bi-person-circle"></i> Orders
								</a>
							</li>
							<li>
								<a class="list-group-item py-3 m-2" href="/PS24728_NguyenVanBao_ASM/User">
									<i class="mx-2 bi bi-person-circle"></i> Settings
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
</div>
