body {
    background-color: black;
    color: white !important;
}

/*  */

.table td {
    color: white !important;
}

table img {
    height: 100px;
    object-fit: cover;
}

.soluong {
    margin: 0px !important;
}

.soluong input {
    text-align: center;
    color: snow;
    background-color: transparent;
    width: 1rem !important;
}

.soluong input:focus {
    color: white;
    background-color: transparent;
    border-color: white;
}

.soluong .btn {
    border-color: white;
    color: white;
    border-radius: 0px;
}

.soluong .btn:hover {
    color: white;
}

#note {
    background-color: transparent;
}

textarea {
    color: white !important;
}

textarea:focus {
    border-color: white;
    color: white !important;
}

/*  */
.card {
    background-color: transparent;
    border: 1px solid white !important;
}

.card-header {
    border-bottom: 1px solid;
}

.card button {
    background-color: white;
    color: black;
    border: 1px solid;
}

.card button:hover {
    border: 1px solid;
}

.card a {
    color: white;
}

.quantity {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}