#content{
	background-color:#e7e9eb;
}
.nav a {
	color: black;
}

.offcanvas-body a {
	font-family: "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", Helvetica, Arial, sans-serif;
	border: 0px;
	font-size: 16px;
	line-height: 24px;
}

.offcanvas-body .list-group-item:hover {
	border-radius: 75px 75px 75px 75px;
	background: #efefef;
}

.b i {
	width: 100px;
}

.offcanvas-body a:focus {
	font-weight: bold !important;
}

.list-group {
	display: fixed !important;
}

.search input[type="text"] {
	width: 100px;
	-webkit-transition: width .35s ease-in-out;
	transition: width .35s ease-in-out;
}

.search input[type="text"]:focus {
	width: 100%;
}

.search input {
	border: 0px;
	border-radius: 0px;
}

.search input:focus {
	outline: none !important;
	border-bottom: 1px solid gray;
}

.search button {
	background-color: transparent;
	border: 0px;
	border-radius: 0px;
}

.search button i {
	color: black;
}

.search button:hover {
	background-color: transparent;
	color: black;
}

.nav a {
	font-family: "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
		Helvetica, Arial, sans-serif !important;
	border: 0px !important;
	font-size: 16px !important;
	line-height: 24px !important;
	color: black !important;
}

.slide {
	list-style: none;
}

.slide a{
	text-decoration:none;
}

.img-thumbnail{
	width: 100px;
	height: 100px;
	object-fit: contain;
}
.modal-dialog{
	max-width: 1000px;
}