<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="utf-8">
	<title>Lilbaor</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="eCommerce HTML Template Free Download" name="keywords">
	<meta content="eCommerce HTML Template Free Download" name="description">
	<!-- Latest compiled and minified CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<!-- Latest compiled JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="css/checkout.css">
	<script src="../js/angularjs/myAccount.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl" style="color: white !important;">
	<section th:replace="~{nav:: header}"></section>
	<div class="breadcrumb-wrap my-5">
		<div class="container-fluid">
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item"><a href="#">Products</a></li>
				<li class="breadcrumb-item active">My Account</li>
			</ul>
		</div>
	</div>

	<div class="my-account mt-5">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">
					<div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
						<a class="them nav-link active" id="orders-nav" data-toggle="pill" href="#orders-tab"
							role="tab"><i class="fa fa-shopping-bag"></i>Orders</a>
						<a class="them nav-link" id="address-nav" data-toggle="pill" href="#address-tab" role="tab"><i
								class="fa fa-map-marker-alt"></i>Address</a>
						<a class="them nav-link" id="account-nav" data-toggle="pill" href="#account-tab" role="tab"><i
								class="fa fa-user"></i>Account
							Details</a>
						<a class="them nav-link" id="changepass-nav" data-toggle="pill" href="#changepass-tab"
							role="tab"><i class="fas fa-fw fa-cog"></i>Change Password</a>
						<a class="them nav-link" id="favorite-nav" data-toggle="pill" href="#favorite-tab"
							role="tab"><i class="fas fa-fw fa-cog"></i>Favorite</a>
						<a class="them nav-link" th:href="@{/auth/logoff}"><i class="fa fa-sign-out-alt"></i>Logout</a>
					</div>
				</div>
				<div class="col-md-9">
					<div class="tab-content">
						<div class="tab-pane fade" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead class="thead-dark">
										<tr class="text-white">
											<th>ID</th>
											<th>Date</th>
											<th>Total Price</th>
											<th>Status</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody th:each="item : ${listOrder}">
										<tr class="text-white">
											<td>#[[${item.orderid}]]</td>
											<td>$[[${item.createdate}]]</td>
											<td>$[[${item.total }]]$</td>
											<td><span class="badge bg-info">[[${item.status == 0 ? 'Waiting' :
													item.status == 1 ? 'Delivered' : '' }]]</span>
											</td>
											<td>
												<a type="button" th:href="@{|/invoice?order=${item.orderid}|}"
													class="btn btn-primary">View</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="tab-pane fade" id="address-tab" role="tabpanel" aria-labelledby="address-nav">
							<h4>Address</h4>
							<div class="row">
								<div class="col-md-6">
									<h5>Shipping Address</h5>
									<input type="text" class="form-control" readonly
										placeholder="123 Shipping Street, Los Angeles, CA">
									<p>Mobile:</p><input type="text" class="form-control" readonly
										placeholder="012-345-6789">
									<button class="btn">Edit Address</button>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
							<h4>Account Details</h4>
							<div class="row">
								<form method="post">
									<div class="col-md-6 my-2">
										<img ng-if="account.avatar !=null" class="w-25" src="{{readFile(account.avatar)}}" alt="">
										<img ng-if="account.avatar ==null" class="w-25" th:src="@{|/api/file/avatar/${account.avatar}|}" alt="">
										<input type="file"
											onchange="angular.element(this).scope().setAvatar(this.files)">
									</div>
									<div class="col-md-6 my-2">
										<input class="form-control inputCss" readonly id="username"
											th:value="${account.username}" />
									</div>
									<div class="col-md-6 my-2">
										<input class="form-control inputCss" id="fullname"
											th:value="${account.fullname}" />
									</div>
									<div class="col-md-6 my-2">
										<input class="form-control inputCss" id="email" th:value="${account.email}" />
									</div>
									<div class="col-md-6 my-2">
										<input class="form-control inputCss" id="phone" th:value="${account.phone}" />
									</div>
									<div class="col-md-6 my-2">
										<input class="form-control inputCss" id="date" th:value="${account.birthday}" />
									</div>
									<h6>[[${error}]]</h6>
									<div class="col-md-12">
										<button ng-click="updateUser()" class="them btn">Save Changes</button>
									</div>
								</form>
							</div>
						</div>
						<div class="tab-pane fade" id="changepass-tab" role="tabpanel" aria-labelledby="changepass-nav">
							<h4>Password change</h4>
							<div class="row">
								<form action="/change-pass">
									<div class="col-md-6 my-2">
										<input class="form-control inputCss" name="password" type="password"
											placeholder="Current Password">
									</div>
									<div class="col-md-6 my-2">
										<input class="form-control inputCss" id="newpass" name="newpass" type="password"
											placeholder="New Password">
									</div>
									<div class="col-md-6 my-2">
										<input class="form-control inputCss" id="cf" name="cfpass" type="password"
											placeholder="Confirm Password">
									</div>
									<h6>[[${error}]]</h6>
									<div class="col-md-12">
										<button class="them btn">Save Changes</button>
									</div>
								</form>
							</div>
						</div>
						<div class="tab-pane fade" id="favorite-tab" role="tabpanel" aria-labelledby="favorite-nav">
							<div class="table-responsive">
								<table id="favor" class="table table-bordered">
									<thead class="thead-dark">
										<tr class="text-white">
											<th>#</th>
											<th>Image</th>
											<th>Name</th>
											<th>Price</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody th:each="item : ${listFavor}">
										<tr class="text-white">
											<td>#[[${item.product.productid}]]</td>
											<td><img style="height: 100px; width: 100px;" th:src="@{|/api/file/images/${item.product.thumbnail}|}" alt=""></td>
											<td>$[[${item.product.name }]]$</td>
											<td><span class="badge bg-info">[[${item.product.price}]]</span></td>
											<td>
												<a type="button" th:href="@{|/product/${item.product.productid}|}"
													class="btn btn-primary">View</a>
												<a type="button" th:onclick="unLike([[${item.id}]])" class="btn btn-primary">Unlike</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Back to Top -->
	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

	<!-- JavaScript Libraries -->
	<script src="../js/custom/ajax.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>